body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    font-size: large;
}

label {
    font-weight: bold;
    margin-right: 5px;
}

input {
    padding: 5px;
}

button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
#canvasContainer {
    position: relative;
}
#changeImageButton, #saveImageButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(112, 112, 112);
    color: white;
    border-radius: 4px;
}
#saveImageButton {
    position: absolute;
    top: 10px;
    left: 105px;
}
#changeImageButton:hover, #saveImageButton:hover {
    background-color: #45a049;
}